@model RockTransactions.Models.Notification
@using Microsoft.AspNetCore.Identity
@inject UserManager<FPUser> UserManager
@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-md mt-3">
        <h1>Create</h1>
        <h4>Notification</h4>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HouseHoldId" class="control-label" style="display:none;"></label>
                        <input type="hidden" asp-for="HouseHoldId" class="form-control" value="@user.HouseHoldId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Created" class="control-label" hidden></label>
                        <input type="hidden" asp-for="Created" class="form-control" value="@DateTime.Now" />
                        <span asp-validation-for="Created" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <input asp-for="Body" class="form-control" />
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
