@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta property='og:image' content='//i.imgur.com/WsHPMwt.png' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Welcome - Rock Transactions</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="css/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="css/switches.css">

    <script src="https://kit.fontawesome.com/8b5ae67e5c.js" crossorigin="anonymous"></script>
</head>
<body class="coming-soon">

    <div class="coming-soon-container">
        <div class="coming-soon-cont">
            <div class="coming-soon-wrap">
                <div class="coming-soon-container">
                    <div class="coming-soon-content">

                        <h4 class="">Rock Transactions</h4>
                        <p class="">An application to help you budget your finances</p>

                        <div id="timer">
                            <div class="hours"><span class=""><i class="fas fa-check"></i></span> <span class="text">Houses</span></div>
                            <div class="days"><span class=""><i class="fas fa-check"></i></span> <span class="text">Members</span></div>
                            <div class="min"><span class=""><i class="fas fa-check"></i></span> <span class="text">Accounts</span></div>
                            <div class="sec"><span class=""><i class="fas fa-check"></i></span> <span class="text">Budgets</span></div>
                        </div>

                        <h3>Register or login to see more</h3>
                        <div class="coming-soon">
                            <div class="row text-center">
                                <div class="col-md">
                                    <button asp-area="Identity" asp-page="/Account/Register" type="submit" class="btn btn-outline-primary btn-lg">
                                        Register
                                        <i class="ml-1 fas fa-file-alt"></i>
                                    </button>
                                    <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-outline-primary btn-lg">
                                        Login
                                        <i class="ml-1 fas fa-sign-in-alt"></i>
                                    </button>
                                    <form asp-area="Identity" asp-page="/Account/Login" method="post">
                                        <div class="form-group">
                                            <button type="submit" name="demoEmail" value="DemoEmail" class="btn btn-outline-primary btn-lg">
                                                Demo
                                                <i class="fas fa-user-secret"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="social list-inline">
                            <li class="list-inline-item"><a class="" href="https://www.linkedin.com/in/mackenzie-weaver/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a></li>
                            <li class="list-inline-item"><a class="" href="https://github.com/mackenzieweaver" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a></li>
                            <li class="list-inline-item"><a class="" href="https://twitter.com/Mackenz60579223" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a></li>
                        </ul>

                        <p class="terms-conditions">© 2020 All Rights Reserved. <a href="index.html">CORK</a> is a product of Designreset. <a href="javascript:void(0);">Cookie Preferences</a>, <a href="javascript:void(0);">Privacy</a>, and <a href="javascript:void(0);">Terms</a>.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="coming-soon-image">
            <div class="l-image">
                <div class="img-content">
                    <img src="assets/img/mindset.svg" alt="coming_soon">
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="lib/jquery/dist/jquery-3.1.1.min.js"></script>
    <script src="lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>