@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta property='og:image' content='//i.imgur.com/9EzI984.jpg' />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Welcome - RockTransactions</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    @* Font awesome *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/icofont.min.css" rel="stylesheet">
    <link href="~/css/boxicons.min.css" rel="stylesheet">
    <link href="~/css/venobox.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/scaffold.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Scaffold - v2.2.0
    * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="#"><span>Rock Transactions</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Login</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                </ul>
            </nav>

            <div class="header-social-links">
                <a href="https://www.linkedin.com/in/mackenzie-weaver/" class="linkedin" target="_blank"><i class="icofont-linkedin"></i></a>
                <a href="https://github.com/mackenzieweaver/RockTransactions" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://twitter.com/Mackenz60579223" class="twitter" target="_blank"><i class="icofont-twitter"></i></a>
            </div>         

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                    <div>
                        <h1>A personal finance tracking system</h1>
                        <h2>Enhance your finances and rock those transactions</h2>
                        <form asp-area="Identity" asp-page="/Account/Login" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoEmail" class="btn-get-started" style="border:none">
                                    Demo now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="~/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6" data-aos="zoom-in">
                        <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <h3>Learn more</h3>
                            <p class="font-italic">
                                The Rock Transactions application is meant to be simple and easy to use. 
                            </p>
                            <ul>
                                <li><i class="icofont-check-circled"></i> Setup a household</li>
                                <li><i class="icofont-check-circled"></i> Invite family members</li>
                                <li><i class="icofont-check-circled"></i> Record transactions</li>
                            </ul>
                            <p>
                                Each household can set up multiple bank accounts, categories, and items per category thus creating a budget to help you keep track of your finances.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item" data-aos="fade-up">
                                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                    <h4>Register or login</h4>
                                    <p>Then either create or join a household</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">
                                    <h4>Accept an invitation</h4>
                                    <p>From someone who already has a household</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                                <a class="nav-link" data-toggle="tab" href="#tab-3">
                                    <h4>Set up your account</h4>
                                    <p>This includes adding a bank account, category, and an item</p>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                                <a class="nav-link" data-toggle="tab" href="#tab-4">
                                    <h4>Start recording transactions</h4>
                                    <p>At the end of the month save or print your report</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="~/assets/img/login.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <figure>
                                    <img src="~/assets/img/accept.png" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <figure>
                                    <img src="~/assets/img/setup.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <figure>
                                    <img src="~/assets/img/transaction.jpg" alt="" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3>Skip the registration</h3>
                        <p>You can demo the software right now using a demo account. You can view the dashboard which includes accounts, data visualization, transactions and more!</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <form asp-area="Identity" asp-page="/Account/Login" method="post">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoEmail" class="cta-btn align-middle" style="border:none">
                                    Demo now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Features</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
                        <div class="icon-box icon-box-pink">
                            <div class="icon"><i class="fas fa-wallet"></i></div>
                            <h4 class="title"><a href="">Accounts</a></h4>
                            <p class="description">Accounts belong to households</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="fas fa-chart-pie"></i></div>
                            <h4 class="title"><a href="">Categories</a></h4>
                            <p class="description">Types of things you spend your money on</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="fas fa-shopping-cart"></i></div>
                            <h4 class="title"><a href="">Items</a></h4>
                            <p class="description">More specific things within a category</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="fas fa-credit-card"></i></div>
                            <h4 class="title"><a href="">Transactions</a></h4>
                            <p class="description">Individual moments that you spent money on an item</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Roles</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in">
                            <div class="pic"><img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Admin</h4>
                                <span>Full database access</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Head of Household</h4>
                                <span>Responsible for its members</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Member</h4>
                                <span>Supports the head of household</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> - modified by <a href="https://www.mackenzie-weaver.com/" target="_blank">Mackenzie Weaver</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.easing.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/venobox.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/scaffold.js"></script>

</body>

</html>