@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-md mt-3">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
