


<div class="modal fade" id="wizardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Set up your household</h3>
            </div>
            <div class="modal-body">
                <div id="wizard">
                    @* TODO: create custom action that creates bank account, category, and item *@
                    <form>
                        <h3>Keyboard</h3>
                        <section>
                            <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                            <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                            <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
